grant codeBase "file:F:/JF_WS/ChatServer/src"{
    permission java.security.AllPermission;
};
grant
{
	 permission java.net.SocketPermission "*:1024-65535", "connect,accept,resolve"; 
	 permission java.util.PropertyPermission "file.encoding","read";
};